{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
   {{  message  }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1> Individual Blog </h1>
<br>
<br>


<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h2>{{post.title }}</h2><br>
    By: {{post.author }}<br>
    <small>Date: {{post.date_posted }}</small><br><br>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{post.content }}</div>
    
</div>
<br>
<a href="{{ url_for('posts') }}" class="btn btn-outline-primary btn-small buttons">To View All Posts</a>
<a href="{{ url_for('edit_post', id = post.id) }}" class="btn btn-outline-dark btn-small buttons">Edit Post</a>
<a href="{{ url_for('delete_post', id = post.id) }}" class="btn btn-outline-danger btn-small buttons">Delete Post</a>








{% endblock %}