{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
   {{  message  }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1> Blog Posts </h1>
<br>
<br>

{% for post in posts %}
<div class="alert alert-dark alert-dismissible fade show" role="alert">
    <h2><a href="{{ url_for('post', id=post.id) }}">{{post.title }}</a></h2><br>
    {% if post.poster %}
		<small>By: {{ post.poster.name }} </small><br/>
	{% else %}
		<small>By: Blog Poster Unknown or Account Deleted</small><br>
	{% endif %}
	<small>Date: {{ post.date_posted }}</small> <br/><br/>
    <div class="alert alert-light alert-dismissible fade show" role="alert">
    {{post.content |safe }}</div>
    <br>
    <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-secondary">View Post</a>
    {% if post.poster_id == current_user.id or current_user.id == 1 %}
        <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-dark">Edit Post</a>
        <a href="{{ url_for('delete_post', id = post.id) }}" class="btn btn-outline-danger">Delete Post</a>
    {% endif %}
</div>
<br>



{% endfor %}

{% endblock %}