{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
  Hey {{ name }}, {{  message  }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


{% if id == current_user.id %}

	<h1>Update User Profile</h1>
	<br>
	<!-- ID to Update: {{ id }}<br>
	Current ID: {{ current_user.id }} -->
	<!-- <br><br> -->

	
<div class="card">
	<div class="card-header">
	  Update Profile
	</div>
	<div class="card-body">
  
		<form action="/dashboard" method="POST" enctype="multipart/form-data">
		  {{ form.hidden_tag() }}
  
		  {{ form.name.label(class="form-label") }}
  
		  {{ form.name(class="form-control", value=name_to_update.name) }}
		  <br/>
  
		  {{ form.username.label(class="form-label") }}
  
		  {{ form.username(class="form-control", value=name_to_update.username) }}
		  <br/>
  
		  {{ form.email.label(class="form-label") }}
  
		  {{ form.email(class="form-control", value=name_to_update.email) }}
		  <br/>
		  
		  {{ form.favorite_color.label(class="form-label") }}
  
		  {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
		  <br/>
  
		  {{ form.about_author.label(class="form-label") }}
  
		  <textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>
		  <br/>
  
		  {{ form.profile_pic.label(class="form-label") }}
  
		  {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}
		  
  
		  <br/>
		  
		  {{ form.submit(class="btn btn-secondary btn-sm") }}
			  
  
		  
  
  
	  </form>
  
  
</div>
<br><br><br>

{% else %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  Sorry! You can't Edit This User
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h2> Access Denied </h2>
<p>You can't access this page</p>

{% endif %}


{% endblock %}